{% extends 'base.html.twig' %}

{% block title %}
    Tous vos voeux | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="wishes-list">
    <h2>Tous vos voeux !</h2>
    {% for wish in wishes %}
        <article>
        <a href="{{ path('wish_detail', {id: wish.id}) }}" title="View this wish in details">{{ wish.title }}</a>
        </article>
    {% endfor %}
    </section>
{% endblock %}

